<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Lista ofert</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<section layout:fragment="content">

    <p th:each="cm : ${carManufacturersList}" th:text="${cm.name}"></p>
    <p th:each="bs : ${bodyStylesList}" th:text="${bs.name}"></p>
    <p th:each="ft : ${fuelTypesList}" th:text="${ft.name}"></p>
    <p th:each="cmod : ${carModelsList}" th:text="${cmod.name}"></p>

</section>
</body>
</html>
