<!DOCTYPE html>
<html layout:decorator="layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"/>

<link href="/css/sortable-theme-bootstrap.css" rel="stylesheet"/>
<script src="/js/sortable.min.js"></script>

<head>
    <title>Lista ofert</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<section layout:fragment="content">

    <div class="panel panel-default" id="offerFilter">
        <div class="panel-heading">Szukaj ofert</div>
        <div class="panel-body">
            <form action="/" class="form-inline" id="offerFilterForm" method="get" th:object="${offerFilter}">

                <select class="form-control" th:field="*{manufacturerId}">
                    <option value="">Marka</option>
                    <option th:each="manufacturer : ${carManufacturers}" th:text="${manufacturer.name}"
                            th:value="${manufacturer.id}"></option>
                </select>

                <select class="form-control" th:field="*{modelId}">
                    <option value="">Model</option>
                    <option th:each="model : ${carModels}" th:text="${model.name}"
                            th:value="${model.id}"></option>
                </select>

                <select class="form-control" th:field="*{yearMin}">
                    <option value="">Rok od</option>
                    <option th:each="year : ${yearList}" th:text="${year}"
                            th:value="${year}"></option>
                </select>

                <select class="form-control" th:field="*{yearMax}">
                    <option value="">Rok do</option>
                    <option th:each="year : ${yearList}" th:text="${year}"
                            th:value="${year}"></option>
                </select>

                <select class="form-control" th:field="*{fuelTypeId}">
                    <option value="">Rodzaj paliwa</option>
                    <option th:each="fuelType : ${fuelTypes}" th:text="${fuelType.name}"
                            th:value="${fuelType.id}"></option>
                </select>

                <input class="form-control" placeholder="opis..." th:field="*{desc}" type="text"/>


                <input class="form-control" type="submit" value="Szukaj"/>
                <a class="btn btn-success pull-right" href="/newoffer">Nowa oferta</a>
            </form>
        </div>


    </div>


    <table class="table sortable-theme-dark" data-sortable>
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Rok produkcji</th>
            <th>Przebieg</th>
            <th>Pojemność silnika</th>
            <th>Moc silnika</th>
            <th>Rodzaj paliwa</th>
            <th>Rocznik</th>
            <th>Cena</th>
            <th>Data</th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer : ${offers}">
            <td th:text="${offer.title}"></td>
            <td th:text="${offer.model.manufacturer.name}"></td>
            <td th:text="${offer.model.name}"></td>
            <td th:text="${offer.year}"></td>
            <td th:text="${offer.mileage}"></td>
            <td th:text="${offer.engineSize}"></td>
            <td th:text="${offer.enginePower}"></td>
            <td th:text="${offer.fuelType.name}"></td>
            <td th:text="${offer.year}"></td>
            <td class="text-right">
                <span th:text="${#numbers.formatDecimal(offer.price, 0, 'WHITESPACE', 0,'COMMA')}"></span>
                PLN
            </td>
            <td th:text="${offer.date}"></td>
            <td><a th:href="|/offer/${offer.id}|">Pokaż</a></td>
        </tr>
        </tbody>
    </table>

</section>

</body>
</html>
